name: ci

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *" 

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: pull image
        run: docker pull ahmedhesham301/jobfit-ai:latest

      - name: get info about current and last run
        run: |
          last_run_info=$(gh run list --workflow main.yml --limit 2 --json createdAt,status,conclusion --repo mokagad/job)
          echo "LAST_RUN_INFO=$last_run_info" >> $GITHUB_ENV
        env: 
          GH_TOKEN: ${{ github.token }}
      
      - name: Create .env file and output file
        run: |
          echo "last_run_info=${LAST_RUN_INFO}" >> .env
          echo "smtp_email=${{ secrets.SMTP_EMAIL }}" >> .env
          echo "smtp_password=${{ secrets.SMTP_PASSWORD }}" >> .env
          echo "receiver_email=${{ secrets.RECEIVER_EMAIL }}" >> .env
          echo "api_keys=${{ secrets.API_KEYS }}" >> .env
          mkdir /output
      - name: Run container
        run: docker run -v "/output:/output" --env-file .env ahmedhesham301/jobfit-ai:latest
      - name: upload Artifact
        uses: actions/upload-artifact@v6
        with:
          # Name of the artifact to upload.
          # Optional. Default is 'artifact'
          name:
      
          # A file, directory or wildcard pattern that describes what to upload
          # Required.
          path: /output
          retention-days: 1
