name: ci

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *" 

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: pull image
        run: docker pull ahmedhesham301/jobfit-ai:latest

      - name: get info about current and last run
        run: |
          last_run_info=$(gh run list --workflow main.yml --limit 2 --json createdAt,status,conclusion --repo mokagad/job)
          echo "LAST_RUN_INFO=$last_run_info" >> $GITHUB_ENV
        env: 
          GH_TOKEN: ${{ github.token }}
      
      - name: Create .env file
        run: |
          echo "last_run_info=${LAST_RUN_INFO}" >> .env
          echo "smtp_email=${{ secrets.SMTP_EMAIL }}" >> .env
          echo "smtp_password=${{ secrets.SMTP_PASSWORD }}" >> .env
          echo "receiver_email=${{ secrets.RECEIVER_EMAIL }}" >> .env
          echo "api_keys=${{ secrets.API_KEYS }}" >> .env
      - name: Run container
        run: docker run --env-file .env ahmedhesham301/jobfit-ai:latest
